Table 1.2: Estimated Net International Migration, by Local Government District (year ending mid-2007 to year ending mid-2017)

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
import requests
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified
from pathlib import Path

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

inputURL = 'https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/Mig1617-Official.xlsx'
inputFile = sourceFolder / 'Mig1617-Official.xlsx'
response = session.get(inputURL)
with open(inputFile, 'wb') as f:
  f.write(response.content)

In [3]:
tab = loadxlstabs(inputFile, sheetids='Table 1.2')[0]

Loading in\Mig1617-Official.xlsx which has size 194382 bytes
Table names: ['Table 1.2']

In [4]:
tab

{<L5 -106.0>, <M41 108.0>, <D14 495.0>, <E39 41.0>, <K5 -74.0>, <K19 ''>, <H6 555.0>, <N44 ''>, <N14 'Mid Ulster'>, <F27 -1247.0>, <E36 216.0>, <M39 437.0>, <C43 -84.0>, <F5 -226.0>, <G45 -105.0>, <C44 -56.0>, <D12 293.0>, <A31 'Cookstown'>, <H18 ''>, <C1 ''>, <E6 665.0>, <N6 'Causeway Coast & Glens'>, <C13 1336.0>, <H23 141.0>, <A9 'Derry City & Strabane'>, <J27 568.0>, <O43 ''>, <F11 -56.0>, <I19 ''>, <M4 'Total'>, <J6 1086.0>, <O25 ''>, <M8 -832.0>, <J32 863.0>, <N39 ''>, <F43 -252.0>, <L16 583.0>, <F29 -84.0>, <O35 ''>, <O9 527.0>, <O17 ''>, <N31 ''>, <I30 -92.0>, <F4 '                     Jul 2010 - Jun 2011'>, <G39 -45.0>, <F8 -67.0>, <K7 -580.0>, <A7 'Belfast'>, <J14 428.0>, <N4 'LGD'>, <D41 -3.0>, <G27 -502.0>, <I11 13.0>, <E18 ''>, <H31 -26.0>, <L37 15.0>, <L26 71.0>, <I3 ''>, <J8 -68.0>, <J25 41.0>, <N5 'Derry City & Strabane'>, <J44 -105.0>, <H8 -136.0>, <N23 ''>, <B41 17.0>, <E23 285.0>, <C23 261.0>, <O16 ''>, <E26 0.0>, <K16 1458.0>, <G24 129.0>, <B13 2195.0>, <L14 491.0>, <E31 67.0>, <D15 27.0>, <J28 3.0>, <F33 -388.0>, <B27 1656.0>, <A34 'Down'>, <C17 ''>, <E2 ''>, <K37 34.0>, <H47 -887.0>, <J5 13.0>, <D34 53.0>, <F24 150.0>, <M15 -65.0>, <E37 5.0>, <F22 24.0>, <G10 -68.0>, <F37 7.0>, <D29 39.0>, <I16 2237.0>, <G5 -80.0>, <A16 'Northern Ireland'>, <L8 -168.0>, <D2 ''>, <D7 765.0>, <M11 561.0>, <I39 -1.0>, <E34 12.0>, <L23 189.0>, <E20 '                     Jul 2009 - Jun 2010'>, <N47 ''>, <K33 -103.0>, <E44 9.0>, <C40 213.0>, <D37 30.0>, <M36 1205.0>, <A29 'Castlereagh'>, <B37 23.0>, <K21 45.0>, <L9 -187.0>, <N46 ''>, <J45 121.0>, <E30 -128.0>, <O10 561.0>, <K1 ''>, <G8 -71.0>, <E40 106.0>, <O30 ''>, <M21 828.0>, <N38 ''>, <A22 'Ards'>, <M42 5139.0>, <F17 ''>, <A5 'Antrim & Newtownabbey'>, <C21 314.0>, <C31 246.0>, <F32 425.0>, <C22 65.0>, <G16 442.0>, <E4 '                     Jul 2009 - Jun 2010'>, <H2 ''>, <O40 ''>, <J34 79.0>, <O22 ''>, <N30 ''>, <F28 -69.0>, <B31 384.0>, <E13 656.0>, <L35 191.0>, <H10 -13.0>, <F35 405.0>, <K43 -119.0>, <L40 24.0>, <K24 494.0>, <A35 'Dungannon'>, <N22 ''>, <D28 -15.0>, <G30 -144.0>, <H41 11.0>, <M18 ''>, <N15 'Armagh City, Banbridge & Craigavon'>, <B21 391.0>, <J37 16.0>, <E29 -36.0>, <C15 10.0>, <F1 ''>, <D18 ''>, <O1 ''>, <M5 -740.0>, <F20 '                     Jul 2010 - Jun 2011'>, <C26 88.0>, <A42 'Newry and Mourne'>, <F26 -15.0>, <F16 -696.0>, <G32 447.0>, <H11 -51.0>, <L18 ''>, <A39 'Lisburn'>, <M16 26112.0>, <H9 -336.0>, <D21 54.0>, <C45 338.0>, <M46 -160.0>, <L38 -8.0>, <B4 '                     Jul 2006 - Jun 2007'>, <A26 'Banbridge'>, <K17 ''>, <M2 ''>, <B9 60.0>, <M10 2648.0>, <D24 278.0>, <F10 135.0>, <J40 10.0>, <O6 -832.0>, <H22 -15.0>, <D6 749.0>, <A18 ''>, <J10 47.0>, <B47 9140.0>, <I42 360.0>, <L2 ''>, <K22 54.0>, <D33 -77.0>, <L34 131.0>, <O41 ''>, <G43 -105.0>, <D47 2998.0>, <B42 1278.0>, <K23 198.0>, <G40 16.0>, <H28 -24.0>, <N33 ''>, <J21 106.0>, <L22 68.0>, <G26 -3.0>, <K39 -227.0>, <E21 28.0>, <K38 6.0>, <G31 57.0>, <M43 -1568.0>, <A1 'Table 1.2: Estimated Net International Migration, by Local Government District (year ending mid-2007 to year ending mid-2017)'>, <E11 27.0>, <K11 -233.0>, <O33 ''>, <J46 -18.0>, <O31 ''>, <M9 -2238.0>, <N25 ''>, <E43 -361.0>, <A2 ''>, <I36 37.0>, <M7 527.0>, <K10 124.0>, <F9 -462.0>, <C30 96.0>, <G14 170.0>, <O23 ''>, <M38 -28.0>, <O8 -65.0>, <N17 ''>, <I40 128.0>, <J22 12.0>, <B36 387.0>, <D30 -139.0>, <G21 25.0>, <E28 0.0>, <L45 84.0>, <G15 36.0>, <B20 '                     Jul 2006 - Jun 2007'>, <H24 161.0>, <F12 88.0>, <E25 7.0>, <D25 29.0>, <K27 -573.0>, <G33 -281.0>, <G42 219.0>, <I27 363.0>, <O5 -2238.0>, <B38 41.0>, <F30 -98.0>, <F23 200.0>, <I5 -126.0>, <G47 442.0>, <G12 107.0>, <E8 -195.0>, <M13 8156.0>, <N1 ''>, <I4 '                     Jul 2013 - Jun 2014'>, <A6 'Armagh City, Banbridge & Craigavon'>, <C46 66.0>, <J15 -92.0>, <B17 ''>, <H20 '                     Jul 2012 - Jun 2013'>, <G9 -311.0>, <K32 687.0>, <D43 -30.0>, <K47 1458.0>, <N41 ''>, <K35 404.0>, <G28 -27.0>, <H19 ''>, <G41 28.0>, <H7 -1064.0>, <H34 -45.0>, <E22 68.0>, <A37 'Larne'>, <I20 '                     Jul 2013 - Jun 2014'>, <O46 ''>, <I18 ''>, <K28 24.0>, <K40 76.0>, <O28 ''>, <K41 -19.0>, <B1 ''>, <K29 -10.0>, <N40 ''>, <D13 582.0>, <H4 '                     Jul 2012 - Jun 2013'>, <F13 446.0>, <D5 24.0>, <A20 'Area (Former LGD)'>, <M26 464.0>, <M24 2702.0>, <F41 4.0>, <F19 ''>, <L11 22.0>, <D40 -3.0>, <F31 54.0>, <A45 'Omagh'>, <C33 -33.0>, <O38 ''>, <D44 19.0>, <L33 -229.0>, <O20 ''>, <A12 'Mid & East Antrim'>, <E41 2.0>, <N32 ''>, <K25 -2.0>, <O39 ''>, <B45 530.0>, <H39 9.0>, <I8 -46.0>, <O7 -740.0>, <E10 364.0>, <K12 552.0>, <F21 26.0>, <C35 869.0>, <C29 103.0>, <E17 ''>, <O14 8156.0>, <F46 -74.0>, <I2 ''>, <N24 ''>, <D32 517.0>, <H25 2.0>, <F3 ''>, <L21 -24.0>, <B8 128.0>, <B23 328.0>, <H27 -1067.0>, <E7 349.0>, <D22 8.0>, <K45 43.0>, <H43 -212.0>, <N16 ''>, <D26 9.0>, <N9 'Belfast'>, <M37 245.0>, <B11 406.0>, <E1 ''>, <B39 330.0>, <B44 103.0>, <I43 -98.0>, <K42 330.0>, <J31 134.0>, <D9 -171.0>, <J16 2795.0>, <M30 -1256.0>, <M34 588.0>, <D31 54.0>, <D3 ''>, <B25 81.0>, <A10 'Fermanagh & Omagh'>, <I28 -13.0>, <E38 -76.0>, <J38 -2.0>, <J17 ''>, <I32 617.0>, <M31 1181.0>, <I15 -131.0>, <I24 263.0>, <F40 -10.0>, <H33 -308.0>, <D36 145.0>, <E14 386.0>, <N35 ''>, <I13 647.0>, <G18 ''>, <I31 52.0>, <K36 81.0>, <J43 -93.0>, <C20 '                     Jul 2007 - Jun 2008'>, <G44 -15.0>, <O47 ''>, <B43 -132.0>, <O29 ''>, <L13 260.0>, <A47 'Northern Ireland'>, <N27 ''>, <H46 -28.0>, <C36 232.0>, <A27 'Belfast'>, <E46 -53.0>, <L7 -559.0>, <C14 1001.0>, <F18 ''>, <E42 381.0>, <J1 ''>, <H3 ''>, <D46 -94.0>, <B35 1448.0>, <J30 -130.0>, <A30 'Coleraine'>, <O21 ''>, <G46 -30.0>, <C24 483.0>, <N19 ''>, <G2 ''>, <E9 -364.0>, <J24 328.0>, <L36 29.0>, <G34 -42.0>, <C4 '                     Jul 2007 - Jun 2008'>, <D35 531.0>, <A25 'Ballymoney'>, <H26 -2.0>, <K9 -75.0>, <I22 42.0>, <D10 263.0>, <I12 289.0>, <K13 608.0>, <M17 ''>, <K44 -11.0>, <L10 113.0>, <F2 ''>, <L4 '                     Jul 2016 - Jun 2017'>, <D19 ''>, <A28 'Carrickfergus'>, <B33 52.0>, <L41 21.0>, <B16 9140.0>, <H5 -321.0>, <J13 629.0>, <J33 -205.0>, <N3 ''>, <H36 46.0>, <E45 148.0>, <F25 61.0>, <E16 1762.0>, <M23 2477.0>, <L19 ''>, <F6 615.0>, <H13 298.0>, <L25 2.0>, <C7 798.0>, <L43 -82.0>, <B19 ''>, <B12 424.0>, <B22 58.0>, <D20 '                     Jul 2008 - Jun 2009'>, <L47 583.0>, <I45 159.0>, <M1 ''>, <K4 '                     Jul 2015 - Jun 2016'>, <L46 42.0>, <L20 '                     Jul 2016 - Jun 2017'>, <N43 ''>, <C25 62.0>, <C9 33.0>, <B40 364.0>, <C37 24.0>, <H17 ''>, <I25 29.0>, <N12 'Mid & East Antrim'>, <A17 ''>, <F14 301.0>, <G20 '                     Jul 2011 - Jun 2012'>, <M44 -509.0>, <G37 5.0>, <L3 ''>, <O12 2912.0>, <O44 ''>, <O26 ''>, <A32 'Craigavon'>, <L29 -2.0>, <B3 ''>, <J20 '                     Jul 2014 - Jun 2015'>, <G29 18.0>, <N34 ''>, <G25 32.0>, <H38 36.0>, <G19 ''>, <K34 69.0>, <D4 '                     Jul 2008 - Jun 2009'>, <B7 1661.0>, <A46 'Strabane'>, <M29 148.0>, <N8 'Ards & North Down'>, <K20 '                     Jul 2015 - Jun 2016'>, <F15 -124.0>, <G36 37.0>, <O36 ''>, <L15 71.0>, <I37 39.0>, <O18 ''>, <N26 ''>, <M12 2912.0>, <H16 -887.0>, <B28 68.0>, <C28 48.0>, <G4 '                     Jul 2011 - Jun 2012'>, <E24 127.0>, <I14 347.0>, <D45 118.0>, <G35 428.0>, <G13 499.0>, <E19 ''>, <K46 28.0>, <C27 753.0>, <E12 132.0>, <J4 '                     Jul 2014 - Jun 2015'>, <N18 ''>, <G3 ''>, <C12 555.0>, <C5 230.0>, <O15 9459.0>, <I44 -172.0>, <I34 -17.0>, <F38 -34.0>, <D27 765.0>, <A15 'Ards & North Down'>, <M6 9459.0>, <C18 ''>, <E3 ''>, <A36 'Fermanagh'>, <D16 2998.0>, <K31 126.0>, <F34 -25.0>, <A33 'Derry'>, <D8 -173.0>, <K8 -257.0>, <L27 -572.0>, <M45 1443.0>, <N2 ''>, <C16 6280.0>, <H14 140.0>, <E32 371.0>, <I29 30.0>, <D38 -60.0>, <A4 'Area (LGD)'>, <D1 ''>, <B18 ''>, <I6 870.0>, <C8 221.0>, <I38 6.0>, <I21 -28.0>, <O13 5724.0>, <L32 457.0>, <B34 280.0>, <J19 ''>, <J36 -74.0>, <H12 184.0>, <N42 ''>, <B6 1363.0>, <A11 'Lisburn & Castlereagh'>, <C2 ''>, <L24 -44.0>, <G6 690.0>, <N45 ''>, <B32 867.0>, <C3 ''>, <E5 -333.0>, <F44 -156.0>, <G7 -499.0>, <E27 369.0>, <C6 1212.0>, <A21 'Antrim'>, <O45 ''>, <I17 ''>, <K2 ''>, <O27 ''>, <C39 257.0>, <B2 ''>, <N37 ''>, <H44 -129.0>, <B29 80.0>, <J3 ''>, <A41 'Moyle'>, <H1 ''>, <B10 917.0>, <O37 ''>, <F47 -696.0>, <B5 259.0>, <O19 ''>, <J2 ''>, <J39 -5.0>, <N29 ''>, <I41 11.0>, <J42 346.0>, <L6 705.0>, <K14 398.0>, <K26 65.0>, <F7 -1346.0>, <E33 -311.0>, <M47 26112.0>, <N10 'Lisburn & Castlereagh'>, <I23 227.0>, <I35 461.0>, <C41 13.0>, <H32 412.0>, <I1 ''>, <M32 6537.0>, <C38 50.0>, <L30 -183.0>, <A13 'Mid Ulster'>, <J12 347.0>, <L31 33.0>, <N21 ''>, <C32 874.0>, <M19 ''>, <G23 237.0>, <K30 -242.0>, <D17 ''>, <L44 4.0>, <O2 ''>, <G11 -31.0>, <H37 47.0>, <D23 220.0>, <A43 'Newtownabbey'>, <J9 -223.0>, <J23 191.0>, <O4 'NM'>, <A44 'North Down'>, <M40 968.0>, <N11 'Fermanagh & Omagh'>, <L17 ''>, <K15 46.0>, <A38 'Limavady'>, <C34 93.0>, <I46 -7.0>, <H21 -109.0>, <C19 ''>, <N13 'Newry, Mourne & Down'>, <A24 'Ballymena'>, <G38 13.0>, <I10 196.0>, <J26 39.0>, <K18 ''>, <M3 ''>, <M28 -35.0>, <L28 -30.0>, <I33 -195.0>, <A19 ''>, <J7 622.0>, <B26 176.0>, <B14 1567.0>, <J41 23.0>, <F36 69.0>, <I9 -202.0>, <J18 ''>, <L1 ''>, <B46 8.0>, <O42 ''>, <H30 -185.0>, <E15 75.0>, <N36 ''>, <J11 6.0>, <G17 ''>, <E47 1762.0>, <A23 'Armagh'>, <A14 'Newry, Mourne & Down'>, <C47 6280.0>, <M33 -2078.0>, <F39 -63.0>, <M22 434.0>, <O34 ''>, <M14 5724.0>, <K3 ''>, <O32 ''>, <H15 -143.0>, <H29 -56.0>, <N28 ''>, <E35 485.0>, <A3 ''>, <F42 328.0>, <J29 66.0>, <C11 314.0>, <C10 570.0>, <N7 'Antrim & Newtownabbey'>, <L42 360.0>, <C42 905.0>, <O24 ''>, <H35 282.0>, <N20 ''>, <I47 2237.0>, <H40 44.0>, <K6 949.0>, <G1 ''>, <J35 481.0>, <M35 5985.0>, <J47 2795.0>, <D11 144.0>, <L12 -59.0>, <H45 -59.0>, <M25 344.0>, <B15 160.0>, <F45 66.0>, <L39 36.0>, <D42 445.0>, <O3 ''>, <O11 2648.0>, <D39 105.0>, <B24 333.0>, <B30 -11.0>, <A8 'Causeway Coast & Glens'>, <I26 36.0>, <M27 513.0>, <I7 380.0>, <M20 'Total'>, <H42 187.0>, <G22 50.0>, <A40 'Magherafelt'>}

In [5]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()- tab.excel_ref('N5').expand(DOWN).expand(RIGHT)

In [6]:
observations = observations - tab.excel_ref('B20').expand(RIGHT)

In [7]:
Area = tab.excel_ref('A5').expand(DOWN).is_not_blank()
Area

{<A26 'Banbridge'>, <A10 'Fermanagh & Omagh'>, <A25 'Ballymoney'>, <A11 'Lisburn & Castlereagh'>, <A13 'Mid Ulster'>, <A31 'Cookstown'>, <A35 'Dungannon'>, <A29 'Castlereagh'>, <A9 'Derry City & Strabane'>, <A28 'Carrickfergus'>, <A32 'Craigavon'>, <A37 'Larne'>, <A43 'Newtownabbey'>, <A21 'Antrim'>, <A23 'Armagh'>, <A14 'Newry, Mourne & Down'>, <A15 'Ards & North Down'>, <A44 'North Down'>, <A46 'Strabane'>, <A34 'Down'>, <A36 'Fermanagh'>, <A42 'Newry and Mourne'>, <A8 'Causeway Coast & Glens'>, <A20 'Area (Former LGD)'>, <A38 'Limavady'>, <A47 'Northern Ireland'>, <A33 'Derry'>, <A39 'Lisburn'>, <A22 'Ards'>, <A45 'Omagh'>, <A24 'Ballymena'>, <A27 'Belfast'>, <A5 'Antrim & Newtownabbey'>, <A41 'Moyle'>, <A12 'Mid & East Antrim'>, <A6 'Armagh City, Banbridge & Craigavon'>, <A40 'Magherafelt'>, <A16 'Northern Ireland'>, <A30 'Coleraine'>, <A7 'Belfast'>}

In [8]:
MidYear = tab.excel_ref('B4').expand(RIGHT) - tab.excel_ref('N4').expand(RIGHT)  
MidYear

{<L4 '                     Jul 2016 - Jun 2017'>, <M4 'Total'>, <K4 '                     Jul 2015 - Jun 2016'>, <D4 '                     Jul 2008 - Jun 2009'>, <E4 '                     Jul 2009 - Jun 2010'>, <H4 '                     Jul 2012 - Jun 2013'>, <I4 '                     Jul 2013 - Jun 2014'>, <F4 '                     Jul 2010 - Jun 2011'>, <G4 '                     Jul 2011 - Jun 2012'>, <J4 '                     Jul 2014 - Jun 2015'>, <C4 '                     Jul 2007 - Jun 2008'>, <B4 '                     Jul 2006 - Jun 2007'>}

In [9]:
Dimensions = [
            HDim(MidYear,'Mid Year',DIRECTLY,ABOVE),
            HDim(Area,'Area',DIRECTLY, LEFT),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People')
            ]

In [10]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [11]:
new_table = c1.topandas()
new_table

,OBS,Mid Year,Area,Measure Type,Unit
0,259.0,Jul 2006 - Jun 2007,Antrim & Newtownabbey,Count,People
1,230.0,Jul 2007 - Jun 2008,Antrim & Newtownabbey,Count,People
2,24.0,Jul 2008 - Jun 2009,Antrim & Newtownabbey,Count,People
3,-333.0,Jul 2009 - Jun 2010,Antrim & Newtownabbey,Count,People
4,-226.0,Jul 2010 - Jun 2011,Antrim & Newtownabbey,Count,People
5,-80.0,Jul 2011 - Jun 2012,Antrim & Newtownabbey,Count,People
6,-321.0,Jul 2012 - Jun 2013,Antrim & Newtownabbey,Count,People
7,-126.0,Jul 2013 - Jun 2014,Antrim & Newtownabbey,Count,People
8,13.0,Jul 2014 - Jun 2015,Antrim & Newtownabbey,Count,People
9,-74.0,Jul 2015 - Jun 2016,Antrim & Newtownabbey,Count,People
10,-106.0,Jul 2016 - Jun 2017,Antrim & Newtownabbey,Count,People
11,-740.0,Total,Antrim & Newtownabbey,Count,People
12,1363.0,Jul 2006 - Jun 2007,"Armagh City, Banbridge & Craigavon",Count,People
13,1212.0,Jul 2007 - Jun 2008,"Armagh City, Banbridge & Craigavon",Count,People
14,749.0,Jul 2008 - Jun 2009,"Armagh City, Banbridge & Craigavon",Count,People
15,665.0,Jul 2009 - Jun 2010,"Armagh City, Banbridge & Craigavon",Count,People
16,615.0,Jul 2010 - Jun 2011,"Armagh City, Banbridge & Craigavon",Count,People
17,690.0,Jul 2011 - Jun 2012,"Armagh City, Banbridge & Craigavon",Count,People
18,555.0,Jul 2012 - Jun 2013,"Armagh City, Banbridge & Craigavon",Count,People
19,870.0,Jul 2013 - Jun 2014,"Armagh City, Banbridge & Craigavon",Count,People
20,1086.0,Jul 2014 - Jun 2015,"Armagh City, Banbridge & Craigavon",Count,People
21,949.0,Jul 2015 - Jun 2016,"Armagh City, Banbridge & Craigavon",Count,People
22,705.0,Jul 2016 - Jun 2017,"Armagh City, Banbridge & Craigavon",Count,People
23,9459.0,Total,"Armagh City, Banbridge & Craigavon",Count,People
24,1661.0,Jul 2006 - Jun 2007,Belfast,Count,People
25,798.0,Jul 2007 - Jun 2008,Belfast,Count,People
26,765.0,Jul 2008 - Jun 2009,Belfast,Count,People
27,349.0,Jul 2009 - Jun 2010,Belfast,Count,People
28,-1346.0,Jul 2010 - Jun 2011,Belfast,Count,People
29,-499.0,Jul 2011 - Jun 2012,Belfast,Count,People
...,...,...,...,...,...
438,-59.0,Jul 2012 - Jun 2013,Omagh,Count,People
439,159.0,Jul 2013 - Jun 2014,Omagh,Count,People
440,121.0,Jul 2014 - Jun 2015,Omagh,Count,People
441,43.0,Jul 2015 - Jun 2016,Omagh,Count,People
442,84.0,Jul 2016 - Jun 2017,Omagh,Count,People
443,1443.0,Total,Omagh,Count,People
444,8.0,Jul 2006 - Jun 2007,Strabane,Count,People
445,66.0,Jul 2007 - Jun 2008,Strabane,Count,People
446,-94.0,Jul 2008 - Jun 2009,Strabane,Count,People
447,-53.0,Jul 2009 - Jun 2010,Strabane,Count,People
448,-74.0,Jul 2010 - Jun 2011,Strabane,Count,People
449,-30.0,Jul 2011 - Jun 2012,Strabane,Count,People
450,-28.0,Jul 2012 - Jun 2013,Strabane,Count,People
451,-7.0,Jul 2013 - Jun 2014,Strabane,Count,People
452,-18.0,Jul 2014 - Jun 2015,Strabane,Count,People
453,28.0,Jul 2015 - Jun 2016,Strabane,Count,People
454,42.0,Jul 2016 - Jun 2017,Strabane,Count,People
455,-160.0,Total,Strabane,Count,People
456,9140.0,Jul 2006 - Jun 2007,Northern Ireland,Count,People
457,6280.0,Jul 2007 - Jun 2008,Northern Ireland,Count,People
458,2998.0,Jul 2008 - Jun 2009,Northern Ireland,Count,People
459,1762.0,Jul 2009 - Jun 2010,Northern Ireland,Count,People
460,-696.0,Jul 2010 - Jun 2011,Northern Ireland,Count,People
461,442.0,Jul 2011 - Jun 2012,Northern Ireland,Count,People
462,-887.0,Jul 2012 - Jun 2013,Northern Ireland,Count,People
463,2237.0,Jul 2013 - Jun 2014,Northern Ireland,Count,People
464,2795.0,Jul 2014 - Jun 2015,Northern Ireland,Count,People
465,1458.0,Jul 2015 - Jun 2016,Northern Ireland,Count,People
466,583.0,Jul 2016 - Jun 2017,Northern Ireland,Count,People
467,26112.0,Total,Northern Ireland,Count,People

In [12]:
new_table['OBS'] = new_table['OBS'].astype(int)

In [13]:
new_table.dtypes

OBS              int32
Mid Year        object
Area            object
Measure Type    object
Unit            object
dtype: object

In [14]:
def remove_whitespace(x):
    
    try:
        x = "".join(x.split())

    except:
        pass
    return x

new_table['Mid Year'] = new_table['Mid Year'].apply(remove_whitespace)

In [15]:
new_table['Mid Year'] = new_table['Mid Year'].map(lambda cell:cell.replace('Total', 'all years'))

In [16]:
# new_table['Mid Year'].str.ljust

In [17]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [18]:
new_table = new_table[['Mid Year','Area','Measure Type','Value','Unit']]

In [19]:
new_table.head(5)

          Mid Year                   Area Measure Type  Value    Unit
0  Jul2006-Jun2007  Antrim & Newtownabbey        Count    259  People
1  Jul2007-Jun2008  Antrim & Newtownabbey        Count    230  People
2  Jul2008-Jun2009  Antrim & Newtownabbey        Count     24  People
3  Jul2009-Jun2010  Antrim & Newtownabbey        Count   -333  People
4  Jul2010-Jun2011  Antrim & Newtownabbey        Count   -226  People

In [20]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('tidydata1.2.csv'), index = False)