## Northern Ireland Statistics and Research Agency

[2017 Mid Year Population Estimates for Northern Ireland (NEW FORMAT TABLES)
](https://www.nisra.gov.uk/publications/2017-mid-year-population-estimates-northern-ireland-new-format-tables)

In [1]:
from gssutils import *
scraper = Scraper('https://www.nisra.gov.uk/publications/'\
                  '2017-mid-year-population-estimates-northern-ireland-new-format-tables')
scraper

## 2017 Mid Year Population Estimates for Northern Ireland (NEW FORMAT TABLES)

### Description

Statistics are available as follows:

### Population Estimates for all geographic levels (not including Super Output
Areas and former Electoral Wards)

Statistics are available for various time periods dependent on the geographic
level selected. For example, Northern Ireland level population estimates are
available from 1971 to 2017, while estimates for Local Government Districts
are available from 2001 to 2017. See the table metadata for more details.

  * Components of population change
  * Population by sex and single year of age
  * Population by sex and age bands
  * Population totals
  * Population Densities
  * Median age

### Population Estimates for Super Output Areas and former Electoral Wards

Time period is 2001 to 2017

  * Population by sex and broad age bands

### Migration Estimates for Northern Ireland

Time period is 2001 to 2017

  * Net migration by sex and single year of age
  * Net migration by sex and age bands
  * Migration flows by type

### Population Estimates by Deprivation Deciles

Northern Ireland population reported by deprivation deciles for both the new
[NIMDM2017](https://www.nisra.gov.uk/statistics/deprivation/northern-ireland-
multiple-deprivation-measure-2017-nimdm2017) and the old
[NIMDM2010](https://www.nisra.gov.uk/statistics/deprivation/northern-ireland-
multiple-deprivation-measure-2010-nimdm2010) measures. Time period is 2001 to
2017.

  * Population by sex and five year age bands

### See also:

  * [Traditional format tables](https://www.nisra.gov.uk/publications/2017-mid-year-population-estimates-northern-ireland)
  * 2017 mid year population and migration [infographic](http://www.ninis2.nisra.gov.uk/InteractiveMaps/DataVis/NI%20Population%202017.pdf "external link opens in a new window / tab") and [interactive map](http://www.ninis2.nisra.gov.uk/InteractiveMaps/Population/Population%20Change/Population%20Estimates%20Broad%20Age%20Bands/atlas.html "external link opens in a new window / tab")
  * 2017 Mid-Year Population Estimates - Components of Population Change - [Interactive Map](http://www.ninis2.nisra.gov.uk/InteractiveMaps/Population/ComponentsPopChange/atlas.html "external link opens in a new window / tab")
  * 2017 Mid-Year Population Estimates - Population Totals - [Interactive Map](http://www.ninis2.nisra.gov.uk/InteractiveMaps/Population/Population%20Change/Population%20Totals/atlas.html "external link opens in a new window / tab")
  * 2017 Mid-Year Population Estimates - [Interactive Population Pyramid](http://www.ninis2.nisra.gov.uk/InteractiveMaps/Population%20Pyramid/2007_2017MYE/NINIS_Pyramid_2017.html "external link opens in a new window / tab")
  * Population Estimates - [UK Comparisons Paper](https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/methodologies/consistencyofmethodsusedforpopulationstatisticsacrossukcountries "external link opens in a new window / tab")



### Distributions

1. All areas - Components of population change ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_CoC.xlsx))
1. All areas - Population by sex and single year of age ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_SYA.xlsx))
1. All areas - Population by sex and age bands ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_AGE_BANDS.xlsx))
1. All areas - Population totals (2001-2017: including historical NI 1821-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_POP_TOTALS.xlsx))
1. All areas - Population densities (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_POP_DENSITIES.xlsx))
1. All areas - Median age (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_MEDIAN_AGE.xlsx))
1. SOAs and Former Electoral Wards - Population by sex and broad age bands (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_SOA_WARD.xlsx))
1. Northern Ireland - Net migration by sex and single year of age (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_NETMIG_AGE.xlsx))
1. Northern Ireland - Net migration by sex and age bands (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_NETMIG_AGE_BANDS.xlsx))
1. Northern Ireland - Migration flows by type (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_MIG_FLOWS.xlsx))
1. Deprivation Deciles - population by sex and five year age bands (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_NIMDM.xlsx))

In [2]:
processors = [
    ('All areas - Components of population change', 'NISRA Migration MEY17CoC.ipynb'),
    ('Northern Ireland - Net migration by sex and age bands', 'NISRA Migration MYE17 NETMIG AGE BANDS Gender.ipynb'),
    ('Northern Ireland - Net migration by sex and age bands', 'NISRA Migration MYE17 NETMIG AGE.ipynb'),
    ('Northern Ireland - Migration flows by type', 'NISRA Migration MYE17 NETMIG FLOW.ipynb')
]

tidy_list = []
metadata_tabs = []
for title, processor in processors:
    book = scraper.distribution(title=lambda x: x.startswith(title)).as_pandas(sheet_name=None, header=None)
    flat = book['Flat']
    flat = flat.rename(columns=flat.iloc[0]).drop(flat.index[0])
    %run "$processor"
    tidy_list.append(tidy)
    metadata_tabs.append(book['Metadata'])
all_tidy = pd.concat(tidy_list)
all_tidy

,Mid Year,Area,Age,Sex,Population Change Component,Measure Type,Value,Unit
1,2001-06-30T00:00:00/P1Y,N92000002,all,T,Starting population,Count,1688838,People
2,2001-06-30T00:00:00/P1Y,N92000002,all,T,Births,Count,21460,People
3,2001-06-30T00:00:00/P1Y,N92000002,all,T,Deaths,Count,14432,People
4,2001-06-30T00:00:00/P1Y,N92000002,all,T,Natural Change,Count,7028,People
5,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Inflows,Count,0,People
6,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Outflows,Count,0,People
7,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Net,Count,0,People
8,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,12510,People
9,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11589,People
10,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,921,People
11,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Inflows,Count,6488,People
12,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Outflows,Count,6393,People
13,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Net,Count,95,People
14,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,18998,People
15,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,17982,People
16,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1016,People
17,2001-06-30T00:00:00/P1Y,N92000002,all,T,Other changes,Count,652,People
18,2001-06-30T00:00:00/P1Y,N92000002,all,T,Migration and other changes,Count,1668,People
19,2001-06-30T00:00:00/P1Y,N92000002,all,T,End population,Count,1697534,People
20,2002-06-30T00:00:00/P1Y,N92000002,all,T,Starting population,Count,1697534,People
21,2002-06-30T00:00:00/P1Y,N92000002,all,T,Births,Count,21433,People
22,2002-06-30T00:00:00/P1Y,N92000002,all,T,Deaths,Count,14648,People
23,2002-06-30T00:00:00/P1Y,N92000002,all,T,Natural Change,Count,6785,People
24,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Inflows,Count,0,People
25,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Outflows,Count,0,People
26,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Net,Count,0,People
27,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,11107,People
28,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11005,People
29,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,102,People
30,2002-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Inflows,Count,6810,People
...,...,...,...,...,...,...,...,...
115,2013-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,-666,People
116,2013-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,2237,People
117,2013-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1571,People
118,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10473,People
119,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,13093,People
120,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,23566,People
121,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11236,People
122,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,10298,People
123,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,21534,People
124,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,-763,People
125,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,2795,People
126,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,2032,People
127,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10806,People
128,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,12998,People
129,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,23804,People
130,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,10806,People
131,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,11540,People
132,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,22346,People
133,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,0,People
134,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,1458,People
135,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1458,People
136,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10759,People
137,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,11310,People
138,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,22069,People
139,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,10167,People
140,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,10727,People
141,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,20894,People
142,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,592,People
143,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,583,People
144,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1175,People

Metadata is provided in the 'Metadata' tabs.

We're merging the data from these spreadsheets into the same cube, by making implicit dimensions explicit. The metadata should be the same for each, but it differs slightly: the description for the first table is a bit less verbose; the reference area for the first is a specialization of the rest.

In [3]:
md = metadata_tabs[1]
md.drop(md.index[0], inplace=True)
md.drop(columns=[0], inplace=True)
md

,1,2,3
1,National Statistics Theme:,Population,Year of Data
2,Data Subset:,Population and Migration,2001 to 2017
3,Dataset Title:,Mid-Year Population Estimates,NaN
4,Coverage:,Northern Ireland,Variables:
5,Source:,NISRA,"Net migration by type, age bands and gender"
6,Contact:,Customer Services;,NaN
7,NaN,02890 255156;,NaN
8,NaN,census@nisra.gov.uk,NaN
9,National Statistics Data?,Yes,NaN
10,Responsible Statistician:,Brian Green - Head of Demographic Statistics,NaN
11,Description of Data,NaN,NaN
12,Mid-2017 population estimates for Northern Ire...,NaN,NaN
13,NaN,NaN,NaN
14,Notes:\n1. The estimates are produced using a ...,NaN,NaN
15,https://www.nisra.gov.uk/sites/nisra.gov.uk/fi...,NaN,NaN
16,NaN,NaN,NaN
17,Time Period,NaN,NaN
18,Estimates are provided for mid-2001 to mid-2017,NaN,NaN
19,NaN,NaN,NaN
20,Methodology,NaN,NaN
21,The migration estimates takes into account flo...,NaN,NaN
22,https://www.nisra.gov.uk/sites/nisra.gov.uk/fi...,NaN,NaN
23,NaN,NaN,NaN
24,Geographic Referencing,NaN,NaN
25,Population Estimates are based on a large numb...,NaN,NaN
26,NaN,NaN,NaN
27,Further Information,NaN,NaN
28,The next mid-year estimates will be released i...,NaN,NaN
29,https://www.nisra.gov.uk/statistics/population...,NaN,NaN

In [4]:
name2prop = {
    'National Statistics Theme:': 'theme',
    'Data Subset:': 'theme',
    'Dataset Title:': 'title',
    'Coverage:': 'spatial',
    'Source:': 'publisher',
    'Contact:': 'contactPoint',
    'National Statistics Data?': 'nationalStatistics',
    'Responsible Statistician:': 'contactPoint'
}

from numpy import isnan

section = 'metadata'
current_prop = None
add_section = False
description = []
for i, row in md.iterrows():
    if section == 'metadata':
        if row[1] in name2prop:
            current_prop = name2prop[row[1].strip()]
        elif row[1] == 'Description of Data':
            section = 'description'
            continue
        if current_prop == 'publisher':
            assert row[2].strip() == 'NISRA'
            scraper.dataset.publisher = metadata.GOV['northern-ireland-statistics-and-research-agency']
        elif current_prop == 'spatial':
            assert row[2].strip() == 'Northern Ireland'
            scraper.dataset.spatial = 'http://statistics.data.gov.uk/id/statistical-geography/N92000002'
        elif current_prop == 'contactPoint':
            pass
        elif current_prop == 'theme':
            scraper.dataset.theme = metadata.GDP[pathify(row[2].strip())]
        elif current_prop is not None:
            setattr(scraper.dataset, current_prop, row[2].strip())
    else:
        if type(row[1]) != str:
            description.append('')
            add_section = True
        else:
            if add_section:
                description.append('## ' + row[1].strip())
                description.append('')
                add_section = False
            else:
                description.append(row[1].strip())
            
scraper.dataset.description = '\n'.join(description)
scraper

## Mid-Year Population Estimates

### Description

Mid-2017 population estimates for Northern Ireland were published on 28 June 2018. Migration is one of the components of population change; its estimates are provided to enable understanding of the mid-year population estimates and to inform comment.

## Notes:
1. The estimates are produced using a variety of data sources and statistical models.  Therefore small estimates should not be taken to refer to particular individuals.
2. The migration element of the components of change have been largely derived from a data source which is known to be deficient in recording young adult males and outflows from Northern Ireland. Therefore the estimates are subject to adjustment to account for this and, while deemed acceptable for their use, will not provide definitive numbers of the population in the reported groups/areas. Further information is available in the Limitations section of the statistical bulletin:

https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17-Bulletin.pdf

## Time Period

Estimates are provided for mid-2001 to mid-2017

## Methodology

The migration estimates takes into account flows between Northern Ireland and (i) the rest of the UK, and (ii) the rest of the world.  Net migration is the difference between in migration and out migration. Further information is available at:
https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/Methodology-2017.pdf

## Geographic Referencing

Population Estimates are based on a large number of secondary datasets. Where the full address was available, the Pointer Address database was used to allocate a unique property reference number (UPRN) and geo-spatial co-ordinates to each home address. These can then be used to map the address to particular geographies. Where it was not possible to assign a unique property reference number to an address using the Pointer database, or where the secondary dataset contained only postcode information, the Central Postcode Directory was used to map home address postcodes to higher geographies. A small proportion of records with unknown geography were apportioned based on the spatial characteristics of known records.

## Further Information

The next mid-year estimates will be released in June 2019
https://www.nisra.gov.uk/statistics/population/mid-year-population-estimates

### Distributions

1. All areas - Components of population change ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_CoC.xlsx))
1. All areas - Population by sex and single year of age ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_SYA.xlsx))
1. All areas - Population by sex and age bands ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_AGE_BANDS.xlsx))
1. All areas - Population totals (2001-2017: including historical NI 1821-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_POP_TOTALS.xlsx))
1. All areas - Population densities (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_POP_DENSITIES.xlsx))
1. All areas - Median age (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_MEDIAN_AGE.xlsx))
1. SOAs and Former Electoral Wards - Population by sex and broad age bands (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_SOA_WARD.xlsx))
1. Northern Ireland - Net migration by sex and single year of age (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_NETMIG_AGE.xlsx))
1. Northern Ireland - Net migration by sex and age bands (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_NETMIG_AGE_BANDS.xlsx))
1. Northern Ireland - Migration flows by type (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_MIG_FLOWS.xlsx))
1. Deprivation Deciles - population by sex and five year age bands (2001-2017) ([MS Excel Spreadsheet](https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17_NIMDM.xlsx))

In [5]:
all_tidy.count()

Mid Year                       16220
Area                           16220
Age                            16220
Sex                            16220
Population Change Component    16220
Measure Type                   16220
Value                          16220
Unit                           16220
dtype: int64

In [6]:
all_tidy.rename(columns={'Area': 'Area of Destination or Origin'}, inplace=True)
all_tidy

,Mid Year,Area of Destination or Origin,Age,Sex,Population Change Component,Measure Type,Value,Unit
1,2001-06-30T00:00:00/P1Y,N92000002,all,T,Starting population,Count,1688838,People
2,2001-06-30T00:00:00/P1Y,N92000002,all,T,Births,Count,21460,People
3,2001-06-30T00:00:00/P1Y,N92000002,all,T,Deaths,Count,14432,People
4,2001-06-30T00:00:00/P1Y,N92000002,all,T,Natural Change,Count,7028,People
5,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Inflows,Count,0,People
6,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Outflows,Count,0,People
7,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Net,Count,0,People
8,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,12510,People
9,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11589,People
10,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,921,People
11,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Inflows,Count,6488,People
12,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Outflows,Count,6393,People
13,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Net,Count,95,People
14,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,18998,People
15,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,17982,People
16,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1016,People
17,2001-06-30T00:00:00/P1Y,N92000002,all,T,Other changes,Count,652,People
18,2001-06-30T00:00:00/P1Y,N92000002,all,T,Migration and other changes,Count,1668,People
19,2001-06-30T00:00:00/P1Y,N92000002,all,T,End population,Count,1697534,People
20,2002-06-30T00:00:00/P1Y,N92000002,all,T,Starting population,Count,1697534,People
21,2002-06-30T00:00:00/P1Y,N92000002,all,T,Births,Count,21433,People
22,2002-06-30T00:00:00/P1Y,N92000002,all,T,Deaths,Count,14648,People
23,2002-06-30T00:00:00/P1Y,N92000002,all,T,Natural Change,Count,6785,People
24,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Inflows,Count,0,People
25,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Outflows,Count,0,People
26,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Net,Count,0,People
27,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,11107,People
28,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11005,People
29,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,102,People
30,2002-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Inflows,Count,6810,People
...,...,...,...,...,...,...,...,...
115,2013-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,-666,People
116,2013-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,2237,People
117,2013-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1571,People
118,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10473,People
119,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,13093,People
120,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,23566,People
121,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11236,People
122,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,10298,People
123,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,21534,People
124,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,-763,People
125,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,2795,People
126,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,2032,People
127,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10806,People
128,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,12998,People
129,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,23804,People
130,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,10806,People
131,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,11540,People
132,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,22346,People
133,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,0,People
134,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,1458,People
135,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1458,People
136,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10759,People
137,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,11310,People
138,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,22069,People
139,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,10167,People
140,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,10727,People
141,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,20894,People
142,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,592,People
143,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,583,People
144,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1175,People

In [7]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
all_tidy.to_csv(out / 'migration_nisra.csv', index = False)

scraper.dataset.family = 'migration'
scraper.dataset.license = 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'

with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())