## Northern Ireland Statistics and Research Agency

[2017 Mid Year Population Estimates for Northern Ireland (NEW FORMAT TABLES)
](https://www.nisra.gov.uk/publications/2017-mid-year-population-estimates-northern-ireland-new-format-tables)

In [1]:
from databaker.framework import *
import pandas as pd

def extractMetadata(sheet):
    metadata = {}
    description = []

    prop = None
    name2prop = {
        'National Statistics Theme:': 'dcat:theme',
        'Data Subset:': 'gss:subset',
        'Dataset Title:': 'dct:title',
        'Coverage:': 'dct:spatial',
        'Source:': 'dct:publisher',
        'Contact:': 'dcat:contactPoint',
        'National Statistics Data?': 'gss:nationalStatistics',
        'Responsible Statistician:': 'dcat:contactPoint'
    }

    section = 'metadata'
    for row in book['Metadata']:
        if section == 'metadata':
            if row[1] in name2prop:
                prop = name2prop[row[1]]
            elif row[1] == 'Description of Data':
                section = 'description'

            if section != 'description' and len(row[2]) != 0 and prop:
                if prop in metadata:
                    metadata[prop] = metadata[prop] + " " + row[2]
                else:
                    metadata[prop] = row[2]
        elif section == 'description':
            description.append(row[1])

    metadata['dct:description'] = '\n'.join(description).strip()
    return metadata

In [2]:
%run "NISRA Migration MEY17CoC.ipynb"
all_tidy = tidy.copy()
md1 = extractMetadata(book['Metadata'])

%run "NISRA Migration MYE17 NETMIG AGE BANDS Gender.ipynb"
all_tidy = pd.concat([all_tidy, tidy])
md2 = extractMetadata(book['Metadata'])

%run "NISRA Migration MYE17 NETMIG AGE.ipynb"
all_tidy = pd.concat([all_tidy, tidy])
md3 = extractMetadata(book['Metadata'])

%run "NISRA Migration MYE17 NETMIG FLOW.ipynb"
all_tidy = pd.concat([all_tidy, tidy])
md4 = extractMetadata(book['Metadata'])

We're merging the data from these spreadsheets into the same cube, by making implicit dimensions explicit. The metadata should be the same for each, but it differs slightly: the description for the first table is a bit less verbose; the reference area for the first is a specialization of the rest.

In [3]:
md4

{'dcat:theme': 'Population',
 'gss:subset': 'Population and Migration',
 'dct:title': 'Mid-Year Population Estimates',
 'dct:spatial': 'Northern Ireland',
 'dct:publisher': 'NISRA ',
 'dcat:contactPoint': 'Customer Services; 02890 255156;  census@nisra.gov.uk Brian Green - Head of Demographic Statistics',
 'gss:nationalStatistics': 'Yes',
 'dct:description': 'Mid-2017 population estimates for Northern Ireland were published on 28 June 2018. Migration is one of the components of population change; its estimates are provided to enable understanding of the mid-year population estimates and to inform comment. \n\nNotes:\n1. The estimates are produced using a variety of data sources and statistical models.  Therefore small estimates should not be taken to refer to particular individuals.\n2. The migration element of the components of change have been largely derived from a data source which is known to be deficient in recording young adult males and outflows from Northern Ireland. Therefore the estimates are subject to adjustment to account for this and, while deemed acceptable for their use, will not provide definitive numbers of the population in the reported groups/areas. Further information is available in the Limitations section of the statistical bulletin:\nhttps://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE17-Bulletin.pdf\n\nTime Period\nEstimates are provided for mid-2001 to mid-2017\n\nMethodology\nThe migration estimates takes into account flows between Northern Ireland and (i) the rest of the UK, and (ii) the rest of the world.  Net migration is the difference between in migration and out migration. Further information is available at:\nhttps://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/Methodology-2017.pdf\n\nGeographic Referencing\nPopulation Estimates are based on a large number of secondary datasets. Where the full address was available, the Pointer Address database was used to allocate a unique property reference number (UPRN) and geo-spatial co-ordinates to each home address. These can then be used to map the address to particular geographies. Where it was not possible to assign a unique property reference number to an address using the Pointer database, or where the secondary dataset contained only postcode information, the Central Postcode Directory was used to map home address postcodes to higher geographies. A small proportion of records with unknown geography were apportioned based on the spatial characteristics of known records. \n\nFurther Information\nThe next mid-year estimates will be released in June 2019\nhttps://www.nisra.gov.uk/statistics/population/mid-year-population-estimates'}

In [4]:
all_tidy.count()

Mid Year                       19580
Area                           19580
Age                            19580
Sex                            19580
Population Change Component    19580
Measure Type                   19580
Value                          19580
Unit                           19580
dtype: int64

In [5]:
all_tidy

,Mid Year,Area,Age,Sex,Population Change Component,Measure Type,Value,Unit
0,2001-06-30T00:00:00/P1Y,N92000002,all,T,Starting population,Count,1688838,People
1,2001-06-30T00:00:00/P1Y,N92000002,all,T,Births,Count,21460,People
2,2001-06-30T00:00:00/P1Y,N92000002,all,T,Deaths,Count,14432,People
3,2001-06-30T00:00:00/P1Y,N92000002,all,T,Natural Change,Count,7028,People
4,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Inflows,Count,0,People
5,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Outflows,Count,0,People
6,2001-06-30T00:00:00/P1Y,N92000002,all,T,Internal Net,Count,0,People
7,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,12510,People
8,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11589,People
9,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,921,People
10,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Inflows,Count,6488,People
11,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Outflows,Count,6393,People
12,2001-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Net,Count,95,People
13,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,18998,People
14,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,17982,People
15,2001-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1016,People
16,2001-06-30T00:00:00/P1Y,N92000002,all,T,Other changes,Count,652,People
17,2001-06-30T00:00:00/P1Y,N92000002,all,T,Migration and other changes,Count,1668,People
18,2001-06-30T00:00:00/P1Y,N92000002,all,T,End population,Count,1697534,People
19,2002-06-30T00:00:00/P1Y,N92000002,all,T,Starting population,Count,1697534,People
20,2002-06-30T00:00:00/P1Y,N92000002,all,T,Births,Count,21433,People
21,2002-06-30T00:00:00/P1Y,N92000002,all,T,Deaths,Count,14648,People
22,2002-06-30T00:00:00/P1Y,N92000002,all,T,Natural Change,Count,6785,People
23,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Inflows,Count,0,People
24,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Outflows,Count,0,People
25,2002-06-30T00:00:00/P1Y,N92000002,all,T,Internal Net,Count,0,People
26,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,11107,People
27,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11005,People
28,2002-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,102,People
29,2002-06-30T00:00:00/P1Y,N92000002,all,T,Rest of world Inflows,Count,6810,People
...,...,...,...,...,...,...,...,...
114,2013-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,-666,People
115,2013-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,2237,People
116,2013-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1571,People
117,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10473,People
118,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,13093,People
119,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,23566,People
120,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,11236,People
121,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,10298,People
122,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,21534,People
123,2014-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,-763,People
124,2014-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,2795,People
125,2014-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,2032,People
126,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10806,People
127,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,12998,People
128,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,23804,People
129,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,10806,People
130,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,11540,People
131,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,22346,People
132,2015-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,0,People
133,2015-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,1458,People
134,2015-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1458,People
135,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,10759,People
136,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Inflows,Count,11310,People
137,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Inflows,Count,22069,People
138,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Outflows,Count,10167,People
139,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,10727,People
140,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,20894,People
141,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,592,People
142,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,583,People
143,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1175,People

In [6]:
out = Path('out')
out.mkdir(exist_ok=True)
all_tidy.to_csv(out / 'migration_nisra.csv', index = False)