NISRA data

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
next_table = pd.DataFrame()

In [5]:
%%capture
%run "NISRA Migration MEY17CoC.ipynb"
next_table = pd.concat([next_table, newFile])

%run "NISRA Migration MEY17CoC.ipynb"
next_table = pd.concat([next_table, newFile])

%run"NISRA Migration MYE17 NETMIG AGE.ipynb"
next_table = pd.concat([next_table, newFile])

%run "NISRA Migration MYE17 NETMIG FLOW.ipynb"
next_table = pd.concat([next_table, newFile])

In [6]:
next_table.count()

Mid Year                       32357
Area                           32357
Age                            32357
Sex                            32357
Population Change Component    32357
Measure Type                   32357
Value                          32357
Unit                           32357
dtype: int64

In [7]:
next_table.head()

,Mid Year,Area,Age,Sex,Population Change Component,Measure Type,Value,Unit
0,2001-06-30T00:00:00/P1Y,N92000002,all,T,Starting population,Count,1688838,People
1,2001-06-30T00:00:00/P1Y,N92000002,all,T,Births,Count,21460,People
2,2001-06-30T00:00:00/P1Y,N92000002,all,T,Deaths,Count,14432,People
3,2001-06-30T00:00:00/P1Y,N92000002,all,T,Natural Change,Count,7028,People
7,2001-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Inflows,Count,12510,People

In [8]:
next_table.tail()

,Mid Year,Area,Age,Sex,Population Change Component,Measure Type,Value,Unit
139,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Outflows,Count,10727,People
140,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Outflows,Count,20894,People
141,2016-06-30T00:00:00/P1Y,N92000002,all,T,United Kingdom Net,Count,592,People
142,2016-06-30T00:00:00/P1Y,N92000002,all,T,Rest of World Net,Count,583,People
143,2016-06-30T00:00:00/P1Y,N92000002,all,T,Total Net,Count,1175,People

In [9]:
out = Path('out')
out.mkdir(exist_ok=True)
next_table.to_csv(out / 'migration_nisra.csv', index = False)